 /*ImageSeries.module.css */
.imageSeries {
    animation: scrollImages 20s linear infinite; /* Adjust the animation duration as needed */
}
 .imageSeries1 {
    animation: scrollImages 12s linear infinite; /* Adjust the animation duration as needed */
}
 .imageSeries2 {
    animation: scrollImages 8s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollImages {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }

}


