#game {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #000;
}

.box {
    height: 35px;
    width: 35px;
}

.horizContainer {
    height: 6px;
    width: 35px;
    border: 2px;
}

.vertContainer {
    height: 35px;
    width: 6px;
    border: 2px;
}

#board {
    /*border: black solid 1px;*/

    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 10px
}

#header {
    padding:10px 50px;
    margin:10px
}
